
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 226 64% 15%;
    --card: 0 0% 100%;
    --card-foreground: 226 64% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 226 64% 15%;
    --primary: 226 64% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 226 64% 33%;
    --muted: 0 0% 90%;
    --muted-foreground: 226 20% 45%;
    --accent: 20 90% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 20% 85%;
    --input: 226 20% 85%;
    --ring: 226 64% 33%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 226 64% 5%;
    --foreground: 0 0% 98%;
    --card: 226 64% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 226 64% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 226 64% 45%;
    --primary-foreground: 0 0% 9%;
    --secondary: 226 30% 15%;
    --secondary-foreground: 226 64% 45%;
    --muted: 226 30% 15%;
    --muted-foreground: 226 20% 65%;
    --accent: 20 90% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 30% 20%;
    --input: 226 30% 20%;
    --ring: 226 64% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
